---
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import WhButton from '@/components/WhButton.astro';
import Seo from '@/components/Seo.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="bg-primary text-secondary font-montserrat" >
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<meta name="author" content="@CaperAsDev" />
		<title>{title}</title>

		<Seo
			{title}
			{description}
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preconnect" href="https://fonts.googleapis.com">
	</head>
	<body class="grid place-items-center">
		<Header />
		<slot />
		<Footer />
		<WhButton number='+57 (350) 809 5143'/>
		<small class="mb-2">Made with 💟 by @CaperAsDev</small>
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
	:root {
		--color-primary: #272640;
		--color-secondary: #e7ecf8;
		--color-accent: #eda426;
		--accent-dark: #b27813;
	
	}
	* {
		font-family: 'Montserrat';
		outline-color: var(--color-accent)
	}
</style>
